In [1]:
%pip install pandas
%pip install scikit-learn

Requirement already satisfied: pandas in c:\users\msii\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\msii\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\msii\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\msii\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\msii\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\msii\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: C:\Users\MSii\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: scikit-learn in c:\users\msii\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (1.3.2)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\msii\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.26.2)
Requirement already satisfied: scipy>=1.5.0 in c:\users\msii\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\msii\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\msii\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from scikit-learn) (3.2.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: C:\Users\MSii\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [2]:
import pandas as pd
import googlemaps
import numpy as np

rawdata = pd.read_csv('Survey regarding layover time (Responses) - Form Responses 1.csv')

In [3]:
rawdata.drop(["Timestamp", "Are you from Sri Lanka? ", "If not, which country are you from? ", "How often do you travel and visit places?", "Consent notice", "Jami Ul-Alfar Mosque"], axis = 1, inplace = True)
rawdata.columns

Index(['One Galle Face  [Morning (6.00 AM - 12.00 PM)]',
       'One Galle Face  [Evening (12.00 PM - 6.00 PM)]',
       'One Galle Face  [Night (6.00 PM - 12.00 AM)]',
       'Colombo City Center (CCC) [Morning (6.00 AM - 12.00 PM)]',
       'Colombo City Center (CCC) [Evening (12.00 PM - 6.00 PM)]',
       'Colombo City Center (CCC) [Night (6.00 PM - 12.00 AM)]',
       'Galle Face Green [Morning (6.00 AM - 12.00 PM)]',
       'Galle Face Green [Evening (12.00 PM - 6.00 PM)]',
       'Galle Face Green [Night (6.00 PM - 12.00 AM)]',
       'Gangaramaya Temple [Morning (6.00 AM - 12.00 PM)]',
       'Gangaramaya Temple [Evening (12.00 PM - 6.00 PM)]',
       'Gangaramaya Temple [Night (6.00 PM - 12.00 AM)]',
       'National Museum of Colombo [Morning (6.00 AM - 12.00 PM)]',
       'National Museum of Colombo [Evening (12.00 PM - 6.00 PM)]',
       'National Museum of Colombo [Night (6.00 PM - 12.00 AM)]',
       'Independence Memorial Hall [Morning (6.00 AM - 12.00 PM)]',
       'Independence Memorial Hall [Evening (12.00 PM - 6.00 PM)]',
       'Independence Memorial Hall [Night (6.00 PM - 12.00 AM)]',
       'Dutch Museum [Morning (6.00 AM - 12.00 PM)]',
       'Dutch Museum [Evening (12.00 PM - 6.00 PM)]',
       'Dutch Museum [Night (6.00 PM - 12.00 AM)]',
       'National Art Gallery [Morning (6.00 AM - 12.00 PM)]',
       'National Art Gallery [Evening (12.00 PM - 6.00 PM)]',
       'National Art Gallery [Night (6.00 PM - 12.00 AM)]',
       'Kelaniya Raja Maha Viharaya [Morning (6.00 AM - 12.00 PM)]',
       'Kelaniya Raja Maha Viharaya [Evening (12.00 PM - 6.00 PM)]',
       'Kelaniya Raja Maha Viharaya [Night (6.00 PM - 12.00 AM)]',
       'Kailasanathar Swamy Kovil [Morning (6.00 AM - 12.00 PM)]',
       'Kailasanathar Swamy Kovil [Evening (12.00 PM - 6.00 PM)]',
       'Kailasanathar Swamy Kovil [Night (6.00 PM - 12.00 AM)]',
       'Viharamahadevi Park [Morning (6.00 AM - 12.00 PM)]',
       'Viharamahadevi Park [Evening (12.00 PM - 6.00 PM)]',
       'Viharamahadevi Park [Night (6.00 PM - 12.00 AM)]',
       'Port City [Morning (6.00 AM - 12.00 PM)]',
       'Port City [Evening (12.00 PM - 6.00 PM)]',
       'Port City [Night (6.00 PM - 12.00 AM)]',
       'Lotus Tower [Morning (6.00 AM - 12.00 PM)]',
       'Lotus Tower [Evening (12.00 PM - 6.00 PM)]',
       'Lotus Tower [Night (6.00 PM - 12.00 AM)]',
       'Pettah Market [Morning (6.00 AM - 12.00 PM)]',
       'Pettah Market [Evening (12.00 PM - 6.00 PM)]',
       'Pettah Market [Night (6.00 PM - 12.00 AM)]',
       'Jami Ul-Alfar Mosque [Morning (6.00 AM - 12.00 PM)]',
       'Jami Ul-Alfar Mosque [Evening (12.00 PM - 6.00 PM)]',
       'Jami Ul-Alfar Mosque [Night (6.00 PM - 12.00 AM)]'],
      dtype='object')

In [4]:
rawdf = pd.DataFrame(rawdata)

In [5]:
data_list = []
for index, row in rawdf.iterrows():
    for column in rawdf.columns:
        location = column.split(' [')[0]

        # Additional checks to avoid index errors
        if '[' in column and '(' in column:
            time_of_day = column.split('[')[1].split('(')[0].strip()
        else:
            time_of_day = None
        data_list.append({'locations': location, 'timeOfDay': time_of_day})
dfnew = pd.DataFrame(data_list)
dfnew

                      locations timeOfDay
0               One Galle Face    Morning
1               One Galle Face    Evening
2               One Galle Face      Night
3     Colombo City Center (CCC)   Morning
4     Colombo City Center (CCC)   Evening
...                         ...       ...
3460              Pettah Market   Evening
3461              Pettah Market     Night
3462       Jami Ul-Alfar Mosque   Morning
3463       Jami Ul-Alfar Mosque   Evening
3464       Jami Ul-Alfar Mosque     Night

[3465 rows x 2 columns]

In [6]:
# Add a new column 'stayTime' with data from rawdf rows
dfnew['stayTime'] = rawdf.values.flatten()

dfnew

                      locations timeOfDay           stayTime
0               One Galle Face    Morning  More than 3 hours
1               One Galle Face    Evening        2 - 3 hours
2               One Galle Face      Night  More than 3 hours
3     Colombo City Center (CCC)   Morning        2 - 3 hours
4     Colombo City Center (CCC)   Evening        2 - 3 hours
...                         ...       ...                ...
3460              Pettah Market   Evening      Never visited
3461              Pettah Market     Night      Never visited
3462       Jami Ul-Alfar Mosque   Morning      Never visited
3463       Jami Ul-Alfar Mosque   Evening      Never visited
3464       Jami Ul-Alfar Mosque     Night      Never visited

[3465 rows x 3 columns]

In [7]:
# Step 1: Replace "2 - 3 hours" with "120"
dfnew.loc[dfnew['stayTime'] == '2 - 3 hours', 'stayTime'] = '120'

# Step 2: Add a new row with stayTime value of 150
new_row_150 = dfnew[dfnew['stayTime'] == '120'].copy()
new_row_150['stayTime'] = '150'
dfnew = pd.concat([dfnew, new_row_150], ignore_index=True)

# Step 3: Add a new row with stayTime value of 180
new_row_180 = dfnew[dfnew['stayTime'] == '120'].copy()
new_row_180['stayTime'] = '180'
dfnew = pd.concat([dfnew, new_row_180], ignore_index=True)

In [8]:
# Step 1: Replace "2 - 3 hours" with "120"
dfnew.loc[dfnew['stayTime'] == '1 - 2 hours', 'stayTime'] = '60'

# Step 2: Add a new row with stayTime value of 150
new_row_90 = dfnew[dfnew['stayTime'] == '60'].copy()
new_row_90['stayTime'] = '90'
dfnew = pd.concat([dfnew, new_row_90], ignore_index=True)

# Step 3: Add a new row with stayTime value of 180
new_row_120 = dfnew[dfnew['stayTime'] == '60'].copy()
new_row_120['stayTime'] = '120'
dfnew = pd.concat([dfnew, new_row_120], ignore_index=True)

In [9]:
dfnew = dfnew[~dfnew.apply(lambda row: (row == 'Never visited').any(), axis=1)]
dfnew['stayTime'] = dfnew['stayTime'].str.replace("More than 3 hours", "200", case=False, regex=False)
dfnew['stayTime'] = dfnew['stayTime'].str.replace("Less than 1 hour", "45", case=False, regex=False)
dfnew = dfnew.dropna(subset=['stayTime'])

In [10]:
dfnew['locationType'] = 'Unknown'
dfnew.columns

Index(['locations', 'timeOfDay', 'stayTime', 'locationType'], dtype='object')

In [11]:
# Check locations column for conditions and update locationType column accordingly
dfnew.loc[dfnew['locations'].isin(['One Galle Face ', 'Pettah Market', 'Colombo City Center (CCC)']), 'locationType'] = 'Shopping Center'
dfnew.loc[dfnew['locations'].isin(['Jami Ul-Alfar Mosque', 'Kailasanathar Swamy Kovil', 'Kelaniya Raja Maha Viharaya', 'Gangaramaya Temple']), 'locationType'] = 'Religious Site'
dfnew.loc[dfnew['locations'].isin(['Port City', 'Viharamahadevi Park', 'Galle Face Green']), 'locationType'] = 'Beaches and Parks'
dfnew.loc[dfnew['locations'].isin(['National Art Gallery', 'Dutch Museum', 'Independence Memorial Hall', 'National Museum of Colombo']), 'locationType'] = 'Museums and Galleries'
dfnew.loc[dfnew['locations'].isin(['Lotus Tower']), 'locationType'] = 'Miscellaneous'
dfnew.head(10)

                   locations timeOfDay stayTime       locationType
0            One Galle Face    Morning      200    Shopping Center
1            One Galle Face    Evening      120    Shopping Center
2            One Galle Face      Night      200    Shopping Center
3  Colombo City Center (CCC)   Morning      120    Shopping Center
4  Colombo City Center (CCC)   Evening      120    Shopping Center
5  Colombo City Center (CCC)     Night      120    Shopping Center
6           Galle Face Green   Morning       60  Beaches and Parks
7           Galle Face Green   Evening       45  Beaches and Parks
8           Galle Face Green     Night      120  Beaches and Parks
9         Gangaramaya Temple   Morning       60     Religious Site

In [12]:
dfnew = dfnew[dfnew['locations'] != 'Jami Ul-Alfar Mosque']

dfnew.reset_index(drop=True, inplace=True)

In [13]:
dfnew = dfnew.sort_values(by='locations')
dfnew.head(10)

                      locations timeOfDay stayTime     locationType
728   Colombo City Center (CCC)   Morning       45  Shopping Center
993   Colombo City Center (CCC)   Morning       45  Shopping Center
2469  Colombo City Center (CCC)   Morning       90  Shopping Center
2470  Colombo City Center (CCC)   Evening       90  Shopping Center
3012  Colombo City Center (CCC)   Evening      120  Shopping Center
2075  Colombo City Center (CCC)     Night      180  Shopping Center
3280  Colombo City Center (CCC)   Evening      120  Shopping Center
2066  Colombo City Center (CCC)     Night      180  Shopping Center
529   Colombo City Center (CCC)   Morning      120  Shopping Center
1334  Colombo City Center (CCC)   Evening      120  Shopping Center

In [14]:
api_key = 'AIzaSyCKj0YV5BGVpIYtOvDesOQE4rfboiosggQ'
gmaps = googlemaps.Client(key=api_key)

def get_place_id(location):
    try:
        # Query Google Maps API for place details
        place = gmaps.find_place(input=location, input_type="textquery", fields=['place_id'])

        # Extract place ID
        place_id = place['candidates'][0]['place_id'] if place['candidates'] else None
        return place_id
    except Exception as e:
        print(f"Error processing location '{location}': {str(e)}")
        return None

In [15]:
dfnew['placeID'] = dfnew['locations'].apply(get_place_id)

In [17]:
noise = np.random.normal(loc=0, scale=10, size=len(dfnew))  # Adjust scale as needed
dfnew['stayTime'] = dfnew['stayTime'].astype(float)
dfnew['randomized_stay_time'] = dfnew['stayTime'] + noise

In [18]:
dfnew.head(10)

,locations,timeOfDay,stayTime,locationType,placeID,randomized_stay_time
728,Colombo City Center (CCC),Morning,45.0,Shopping Center,ChIJseUqHGtZ4joRgteF9GKSLoc,51.684026
993,Colombo City Center (CCC),Morning,45.0,Shopping Center,ChIJseUqHGtZ4joRgteF9GKSLoc,42.772259
2469,Colombo City Center (CCC),Morning,90.0,Shopping Center,ChIJseUqHGtZ4joRgteF9GKSLoc,103.824914
2470,Colombo City Center (CCC),Evening,90.0,Shopping Center,ChIJseUqHGtZ4joRgteF9GKSLoc,91.537172
3012,Colombo City Center (CCC),Evening,120.0,Shopping Center,ChIJseUqHGtZ4joRgteF9GKSLoc,119.317726
2075,Colombo City Center (CCC),Night,180.0,Shopping Center,ChIJseUqHGtZ4joRgteF9GKSLoc,178.215451
3280,Colombo City Center (CCC),Evening,120.0,Shopping Center,ChIJseUqHGtZ4joRgteF9GKSLoc,115.805487
2066,Colombo City Center (CCC),Night,180.0,Shopping Center,ChIJseUqHGtZ4joRgteF9GKSLoc,191.382158
529,Colombo City Center (CCC),Morning,120.0,Shopping Center,ChIJseUqHGtZ4joRgteF9GKSLoc,111.448531
1334,Colombo City Center (CCC),Evening,120.0,Shopping Center,ChIJseUqHGtZ4joRgteF9GKSLoc,122.368794

In [33]:
dfnew.to_csv('organized_data.csv')

In [34]:
dfnew.shape

(3633, 5)

In [36]:
num_rows = dfnew[dfnew['locations'] == 'Jami Ul-Alfar Mosque'].shape[0]
print(num_rows)

0